# --- Django ---
DJANGO_SETTINGS_MODULE=config.settings.dev
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend,nginx
CSRF_TRUSTED_ORIGINS=http://localhost:8080
LOG_LEVEL=INFO
TZ=Asia/Almaty

# --- PostgreSQL ---
POSTGRES_DB=lms
POSTGRES_USER=lms
POSTGRES_PASSWORD=lms
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# --- Redis / Celery ---
REDIS_URL=redis://redis:6379/0

# --- Фронт ---
VITE_API_TARGET=http://backend:8000
